[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Runuran"]
	path = Runuran
	url = https://github.com/unuran/runuran
	subdir = Runuran
